@model SandBox.Models.ItemVM<SandBox.Models.WarehouseItem>

@{
    ViewBag.Title = "Order";
}

<br />
<div>
    @Html.Partial("BtnModelNumbersPartial", Model)
</div>

<div>
    <h2>Pre-ordered:</h2>
    @Html.Partial("SizeColTablePartial", Model)
</div>