@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="ProductionController">
    <nav-btns-prod></nav-btns-prod>
    <div class="container-fluid">
        <div ng-view></div>
    </div>

    <script type="text/ng-template" id="navBtnsProd">
        <nav class="navbar navbar-default" style="margin-top:-20px" ng-controller="ProdNavController">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li ng-class="{active: numberForActiveClass == 1}">
                        <a href="#/mainWh" ng-click="numberForActiveClass = 1">Склад</a>
                    </li>
                    <li ng-class="{active: numberForActiveClass == 2}">
                        <a href="#/quilting" ng-click="numberForActiveClass = 2">Стежка</a>
                    </li>
                    <li ng-class="{active: numberForActiveClass == 3}">
                        <a href="#" ng-click="numberForActiveClass = 3">Закройка</a>
                    </li>
                    <li ng-class="{active: numberForActiveClass == 4}">
                        <a href="#" ng-click="numberForActiveClass = 4">Настрочницы</a>
                    </li>
                    <li ng-class="{active: numberForActiveClass == 5}">
                        <a href="#" ng-click="numberForActiveClass = 5">Приемка</a>
                    </li>
                </ul>
            </div>
        </nav>
    </script>
    <script type="text/ng-template" id="mainWhView">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom:none">
                <div style="padding-right:0">
                    <div class="col-lg-7" style="padding:0">
                        <button class="btn btn-default btn-sm">Добавить наименование</button>
                        <button class="btn btn-default btn-sm">Удалить наименование</button>
                    </div>
                    <div class="input-group col-lg-5">
                        <input class="form-control input-sm" ng-model="searchText" />
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-filter"></i></button>
                        </span>
                    </div>

                </div>
            </div>

            <div class="row" style="margin:unset">
                <div class="col-lg-6">
                    <main-wh-table></main-wh-table>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Готовые изделия</h4></div>
                        <div class="panel-body">
                            <table ng-repeat="modelArr in endProdData.Data" class="table animate-table-table">
                                <tr>
                                    <th class="btn btn-default btn-header" style="background-color:#F8F8F8">{{modelArr[0][0].ModelNumber}}</th>
                                    <th class="btn btn-default btn-tableData"
                                        ng-repeat="size in endProdData.DataNotations[modelArr[0][0].ModelNumber].Sizes"
                                        style="background-color:#F8F8F8">
                                        {{size}}
                                    </th>
                                </tr>
                                <tr ng-repeat="modelArrByColors in modelArr">
                                    <td class="btn btn-default btn-header" style="background-color:#F8F8F8">
                                        {{modelArrByColors[0].Color}}
                                    </td>

                                    <td ng-repeat="product in modelArrByColors"
                                        class="btn btn-default btn-tableData">
                                        {{product.Quantity}}
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">Футер</div>
        </div>

    </script>
    <script id="quiltingView" type="text/ng-template">

        <div class="panel panel-default">
            <div class="panel-heading row" style="margin:auto">
                <div class="col-lg-4">
                    <button class="btn btn-default" ng-click="openNewQuilingTask()">Новое задание</button>
                    <button class="btn btn-default" ng-click="openNewRecipe()">Новый рецепт</button>
                </div>
                <div class="col-lg-8">
                    <h4>В обработке: Вика синий 300 (м)</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                             aria-valuenow="{{p}}" aria-valuemin="0" aria-valuemax="100" style="width: {{p}}%">
                            <span>{{p}}% Complete</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer" ng-show="false">
                <button class="btn btn-default" ng-click="p=50">50</button>
                <button class="btn btn-default" ng-click="p=25">25</button>
            </div>
        </div>
        <wh-for-quilting></wh-for-quilting>
    </script>
    <script type="text/ng-template" id="mainWhTable">
        <div ng-repeat="category in mainWhData | filter: searchText" class="panel panel-default">
            <div class="panel-heading" style="cursor: pointer;">
                <h4>{{getCategoryName($index+1)}}</h4>
            </div>
            <div class="panel-body">
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <th class="col-lg-1">Id</th>
                            <th class="col-lg-4">Название</th>
                            <th class="col-lg-3">Цвет</th>
                            <th class="col-lg-2">Кол-во</th>
                            <th class="col-lg-2"></th>
                        </tr>
                        <tr class="btn-default" ng-repeat="item in category | filter: searchText">
                            <td class="col-lg-1">{{item.Id}}</td>
                            <td class="col-lg-4">{{item.Name}}</td>
                            <td class="col-lg-3">{{item.Color}}</td>
                            <td class="col-lg-2">{{item.Quantity +' ('+ item.UnitOfMeasurement + ')'}}</td>
                            <td class="col-lg-2">
                                <button class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></button>
                                <button class="btn btn-xs btn-default"><span class="glyphicon glyphicon-edit"></span></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </script>
    <script id="whForQuilting" type="text/ng-template">
        <div ng-repeat="category in mainWhData" class="panel panel-default" ng-show="$index == 0 || $index == 1 || $index == 3 || $index == 5">
            <div class="panel-heading" style="cursor: pointer;">
                <h4>{{getCategoryName($index+1)}}</h4>
            </div>
            <div class="panel-body">
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <th class="col-lg-1">Id</th>
                            <th class="col-lg-4">Название</th>
                            <th class="col-lg-3">Цвет</th>
                            <th class="col-lg-2">Кол-во</th>
                            <th class="col-lg-2"></th>
                        </tr>
                        <tr class="btn-default" ng-repeat="item in category | filter: searchText">
                            <td class="col-lg-1">{{item.Id}}</td>
                            <td class="col-lg-4">{{item.Name}}</td>
                            <td class="col-lg-3">{{item.Color}}</td>
                            <td class="col-lg-2">{{item.Quantity +' ('+ item.UnitOfMeasurement + ')'}}</td>
                            <td class="col-lg-2">
                                <button class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></button>
                                <button class="btn btn-xs btn-default"><span class="glyphicon glyphicon-edit"></span></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </script>
    <script id="getNewQuiltingTask.modal" type="text/ng-template">
        <div class="modal-content">
            <div class="modal-header"><h3> Новое задание</h3></div>
            <div class="modal-body">
                <div>
                    <div>
                        <div class="row">

                            <div class="col-lg-5">
                                <input type="text" placeholder="Поиск..." class="form-control" ng-model="search.Name" />
                                <h5 style="margin-top: 20px;">Рецепты</h5>
                                <ul class="list-unstyled">
                                    <li ng-repeat="r in recipes | filter:search">
                                        <button ng-click="setRecipe(r)" class="btn btn-link">
                                            <span class="glyphicon glyphicon-check" ng-show="recipe == r"></span>
                                            {{r[0].Name}}
                                        </button>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-7" ng-show="isRecipeSelected">
                                <ul class="media-list">
                                    <li class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTA5M2M3ZGIwNSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1MDkzYzdkYjA1Ij48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMi41IiB5PSIzNi44Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="
                                                     alt="64x64" style="width:64px; height:64px;" />
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                {{recipe[0].Name}}

                                                <div class="pull-right">
                                                    <a href="#" ng-click="multiplier = multiplier + 1" class="btn">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </a>
                                                    <a href="#">{{multiplier}}</a>
                                                    <a href="#" ng-click="multiplier = multiplier - 1" class="btn">
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    </a>
                                                </div>
                                            </h4>
                                            <div ng-repeat="item in recipe" class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTA5M2M3ZGIwNSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1MDkzYzdkYjA1Ij48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMi41IiB5PSIzNi44Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="
                                                             alt="64x64" style="width:64px; height:64px;" />
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4>{{$parent.getCategoryName(item.ItemCategory)}}</h4>
                                                    {{getItemInfoById(item.ItemId, item.ItemCategory - 1)+', '}}
                                                    <span class="badge">
                                                        {{item.Quantity * multiplier}}
                                                    </span>
                                                    {{' ('+item.UnitsOfMeasurement+')' }}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="panel panel-default">
                    <div class="panel-heading"><h4>Материалы:</h4></div>
                    <div class="panel-body">
                        <div ng-repeat="item in recipe | orderBy: 'ItemCategory'"
                             class="panel panel-body col-lg-6" style="border-bottom: 1px solid; border-color: #ddd;">
                            <h4><span class="badge">{{item.ItemCategory}}</span>{{' ' + $parent.getCategoryName(item.ItemCategory)}}</h4>
                            <h5>{{'- ' + getItemInfoById(item.ItemId, item.ItemCategory - 1)}}</h5>
                        </div>
                    </div>

                    <div ng-repeat="item in recipe | orderBy: 'ItemCategory'"
                             class="panel-body" style="border-bottom: 1px solid; border-color: #ddd;">
                            <div><h4 style="margin-bottom:auto">{{$parent.getCategoryName(item.ItemCategory) + ':'}}</h4><hr style="margin-top:auto" /></div>
                            <h4>
                                <label class="label label-default">{{getItemInfoById(item.ItemId, item.ItemCategory - 1)}}</label>
                            </h4>
                            <div>
                                <input type="number" class="form-control"
                                       value="{{item.Quantity}}" ng-model="item.Quantity" />
                            </div>
                        </div>*@
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="postProductionTaskData()">Push</button>
                <button class="btn btn-success" ng-click="ok()">Ok</button>
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </script>
    <script id="newRecipe.modal" type="text/ng-template">
        <div class="modal-content">
            <div class="modal-header"><h3>Новый рецепт</h3></div>
            <form novalidate class="modal-body form-modal" name="form">
                <h4>
                    <label>Категория:</label>
                    <select ng-model="selectedCategory"
                            ng-options="$parent.getCategoryName(c) for c in recipeCategories"
                            ng-click="selectCategory()"></select>
                </h4>
                <ul class="list-unstyled">
                    <li>
                        <label>Имя рецепта:</label>
                        <input type="text" ng-model="recipeName" class="form-control" name="uRecipeName" required />                        
                    </li>
                    <hr />
                    <li ng-repeat="item in recipe">
                        <table>
                            <tr>
                                <th class="col-lg-9"><label>{{$parent.getCategoryName(item.ItemCategory) + ':'}}</label></th>
                                <th class="col-lg-3"><label>{{'Кол-во, (' + resultRecipe[$index].UnitOfMeasurement + ')'}}</label></th>                                
                            </tr>
                            <tr>
                                <td class="col-lg-9">
                                    <input type="text" class="form-control" ng-model="resultRecipe[$index]" validate-new-recipe required
                                           typeahead="e as '#' + e.Id +' '+ e.Name +' '+ e.Color for e in filtByCat(item.ItemCategory) | filter:$viewValue | limitTo:8" />
                                    
                                </td>
                                <td class="col-lg-3">
                                    <input type="number" class="form-control" ng-model="resultRecipe[$index].Quantity" required />
                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>                
                <div class="row">
                    <button class="btn btn-default col-lg-4 col-lg-push-4" ng-click="recipe.push({ItemCategory: 77}); resultRecipe.push('')">Добавить</button>
                </div>
                <hr />
                <table>
                    <tr>
                        <th class="col-lg-9"><label>Результат:</label></th>
                        <th class="col-lg-3"><label>{{'Кол-во, (' + getUoMForRcpResItem(recipeResultItem) + ')'}}</label></th>
                    </tr>
                    <tr>
                        <td class="col-lg-9">
                            <input type="text" ng-model="recipeResultItem" class="form-control" name="uRecipeResultItem" validate-new-recipe required
                                   typeahead="e as '#' + e.Id +' '+ e.Name +' '+ e.Color + ' ' + e.Size for e in filtForResultItem(selectedCategory) | filter:$viewValue | limitTo:8" />
                        </td>                        
                        <td class="col-lg-3">
                            <input type="number" class="form-control" ng-model="recipeResultItem.Quantity" required />
                        </td>                        
                    </tr>
                </table>
                
                
            </form>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()" ng-disabled="form.$invalid">Ok</button>
                <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
            </div>
        </div>
    </script>

</div>

