<!DOCTYPE html>
<html>
<head>
    <title>Josephine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/animate.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular-animate.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.2.js"></script>
    <script src="~/Scripts/Views/Home/app.js" type="text/javascript"></script> 
    
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="" alt="Brand" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav navbar-nav">
                <li><a href="#">Магазин</a></li>
                <li><a href="#" onclick="document.getElementById('notSoFast').play()">Производство</a></li>
                <li><a href="#" onclick="document.getElementById('notSoFast').play()">Аналитика</a></li>
            </ul>

        </div><!-- /.container-fluid -->
    </nav>
    <div class="container body-content" style="padding:0">
        @RenderBody()
    </div>
    <hr />

    <audio id="notSoFast">
        <source src="~/Content/Not%20so%20fast.mp3" type="audio/mp3" />
    </audio>

</body>
</html>