<!DOCTYPE html>
<html>
<head>
    <title>Josephine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/animate.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular-animate.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.2.js"></script>
        
    <script src="~/Scripts/app/store/store.module.js"></script>
    <script src="~/Scripts/app/store/controllers/store.js"></script>
    <script src="~/Scripts/app/store/controllers/customers.js"></script>
    <script src="~/Scripts/app/store/controllers/modalAddProductToWh.js"></script>
    <script src="~/Scripts/app/store/controllers/modalNewCustomer.js"></script>
    <script src="~/Scripts/app/store/controllers/modalNewEmployee.js"></script>
    <script src="~/Scripts/app/store/controllers/orders.js"></script>
    <script src="~/Scripts/app/store/controllers/sales.js"></script>
    <script src="~/Scripts/app/store/controllers/nav.js"></script>
    <script src="~/Scripts/app/store/data.service.js"></script>
    <script src="~/Scripts/app/store/directives.js"></script>

    <script src="~/Scripts/app/production/production.module.js"></script>
    <script src="~/Scripts/app/production/production.routes.js"></script>
    <script src="~/Scripts/app/production/prodData.service.js"></script>
    <script src="~/Scripts/app/production/controllers/production.js"></script>
    <script src="~/Scripts/app/production/controllers/prodNav.js"></script>
    <script src="~/Scripts/app/production/controllers/newTask.js"></script>
    <script src="~/Scripts/app/production/controllers/newRecipe.js"></script>
    <script src="~/Scripts/app/production/controllers/editItem.js"></script>
    <script src="~/Scripts/app/production/controllers/quilting.js"></script>
    <script src="~/Scripts/app/production/controllers/cutting.js"></script>
    <script src="~/Scripts/app/production/directives.js"></script>

    <script src="~/Scripts/app/app.module.js" type="text/javascript"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Josephine
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav navbar-nav">
                <li><a href="/home/index/">Магазин</a></li>
                <li><a href="/production/index/">Производство</a></li>
                <li><a href="#" onclick="document.getElementById('notSoFast').play()">Аналитика</a></li>
            </ul>

        </div><!-- /.container-fluid -->
    </nav>
    <div style="padding:0" ng-app="Josephine">
        @RenderBody()
    </div>
    <hr />

    <audio id="notSoFast">
        <source src="~/Content/Not%20so%20fast.mp3" type="audio/mp3" />
    </audio>

</body>
</html>