
    <div class="container">
        Форма клиента

        <form role="form">
            <div class="form-group">
                <label class="control-label" for="name">Имя</label>
                <input type="text" class="form-control" id="name" placeholder="Введите имя">
            </div>
            <div class="form-group">
                <label for="last name">Фамилия</label>
                <input type="text" class="form-control" id="last name" placeholder="Введите фамилию">
            </div>
            <div class="form-group">
                <label for="dateofBirth">Дата рождения</label>
                <input type="text" class="form-control" id="dateofBirth" placeholder="Введите дату рождения">
            </div>
            <div class="form-group">
                <label class="control-label" for="mobilephone"> Контактный телефон</label>
                <input type="tel" class="form-control" id="mobilephone" placeholder="Введите номер">
            </div>
            <div class="form-group">
                <label for="additionphone"> Дополнительный номер телефона</label>
                <input type="tel" class="form-control" id="additionphone" placeholder="Введите номер">
            </div>
            <div class="forn-group">
                <label for="email">Адрес электронной почты</label>
                <input type="email" class="form-control" id="email" placeholder="Введите адрес электронной почты">
            </div>
            <div class="form-group">
                <label for="skype">Skype</label>
                <input type="skype" class="form-control" id="skype" placeholder="Введите адрес skype">
            </div>
            <div class="form-group">
                <label for="addwayofcommunication">Дополнительный способ связи</label>
                <input type="text" class="form-control" id="addwayofcommucation" placeholder="Введите дополнительную информацию">
            </div>
            <div class="form-group">
                <label for="nickname">Ник</label>
                <input type="text" class="form-control" id="nickname" placeholder="При необходимости введите ник клинета">
            </div>
            <div class="form-group">
                <label for="class">Класс</label>
                <input type="text" class="form-control" id="class" placeholder="Выберите соответствующий класс">
            </div>
            <div class="form-group">
                <label for="addinfo">Примечания</label>
                <input type="text" class="form-control" id="addinfo" placeholder="*">
            </div>
            <div class="form-group">
                <label for="gender">Пол</label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">Женский>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">Мужской>
                </label>
            </div>
            <button type="submit" class="btn btn-default">Создать</button>
        </form>
    </div>
