
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html ng-app="askDemoData">
<body ng-controller="AskDemoController">
    <div class="alert alert-info text-center">
        <h1>Какая-то из БД пуста</h1>
        <h3>Можно использовать демо-режим</h3>
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="text-center">
                
            </div>
            <table class="table" ng-repeat="i in [0, 1, 2, 3, 4, 5]">
                <thead>
                    <tr>
                        <th><h2>{{getDbName(i)}}</h2></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><h4>статус БД:</h4></td>
                        <td><h4>{{getTextInfo(isDbEmpty[i])}}</h4></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><button class="btn btn-default" ng-click="delDb(i)">Очистить</button></td>
                        <td><button class="btn btn-default" ng-click="getDemo(i)">Использовать демо</button></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <script src="~/Scripts/Views/Home/AskDemo.js"></script>
</body>
</html>
