@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="Josephine">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/animate.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular-animate.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.2.js"></script>
    <script src="~/Scripts/Views/Home/app.js" type="text/javascript"></script>    

    <title>Products</title>  
   
</head>

<body ng-controller="HomeController" class="container">
    <create-order></create-order>
    <br />
    <nav-buttons></nav-buttons>
    <sales-report-view></sales-report-view>

    <filt-panel></filt-panel>
    <div class="row">        
        <left-table></left-table>
        <right-table></right-table>
    </div>

    <script id="filtPanel" type="text/ng-template">
        <div class="row" style="padding-top:7px; padding-bottom:7px" ng-show="isSelected != null">
            <div class="col-lg-6 form-group row" style="margin-bottom:0">
                <button class="btn btn-success col-lg-3" style="margin-left:12px">Action</button>
                <div class="col-lg-5" style="padding-right:0">
                    <div class="input-group">
                        <input class="form-control input-sm" ng-model="searchText"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-filter"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2">
                    <input type="number" class="form-control input-sm" value="1" />
                </div>
                <div class="col-lg-1">
                    <button class="btn btn-default btn-sm" ng-click="refreshData()"><span class="glyphicon glyphicon-refresh"></span></button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-6" style="padding-right:0; margin-left:15px">
                    <div class="input-group">
                        <input class="form-control input-sm"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-filter"></i></button>
                        </span>
                    </div>
                </div>
            </div>            
        </div>
    </script>
    <script type="text/ng-template" id="createCustomerModal">

        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Новый клиент
                </h3>
            </div>
            <div class="modal-body">

                <form role="form">
                    <div class="form-group">
                        <label class="control-label" for="name">Имя</label>
                        <input type="text" class="form-control" id="name" ng-model="tempCustomer.Name" placeholder="Введите имя">
                    </div>
                    <div class="form-group">
                        <label for="last name">Фамилия</label>
                        <input type="text" class="form-control" id="last name" ng-model="tempCustomer.Surname" placeholder="Введите фамилию">
                    </div>
                    <div class="form-group">
                        <label for="nickname">Ник</label>
                        <input type="text" class="form-control" id="nickname" ng-model="tempCustomer.Nickname" placeholder="При необходимости введите ник клинета">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="mobilephone"> Контактный телефон</label>
                        <input type="tel" class="form-control" id="mobilephone" ng-model="tempCustomer.PhoneNumber" placeholder="Введите номер">
                    </div>
                    <div class="form-group">
                        <label for="additionphone"> Дополнительный номер телефона</label>
                        <input type="tel" class="form-control" id="additionphone" ng-model="tempCustomer.AlternatePhone" placeholder="Введите номер">
                    </div>
                    <div class="form-group">
                        <label for="locOfTrade">Адрес работы</label>
                        <input type="text" class="form-control" id="locOfTrade" ng-model="tempCustomer.locationOfTrade" placeholder="Введите адрес места где вы торгуете">
                    </div>
                    <div class="form-group">
                        <label for="class">Класс</label>
                        <input type="text" class="form-control" id="class" ng-model="tempCustomer.Speciality" placeholder="Выберите соответствующий класс">
                    </div>
                    <div class="form-group">
                        <label for="emailo"> Адрес электронной почты</label>
                        <input type="email" class="form-control" id="emailo" ng-model="tempCustomer.Email" placeholder="Введите адрес электронной почты">
                    </div>
                    <div class="form-group">
                        <label for="skype">Skype</label>
                        <input type="text" class="form-control" id="skype" ng-model="tempCustomer.Skype" placeholder="Введите адрес skype">
                    </div>
                    <div class="form-group">
                        <label for="addwayofcommunication">Дополнительный способ связи</label>
                        <input type="text" class="form-control" id="addwayofcommucation" ng-model="tempCustomer.OtherContact" placeholder="Введите дополнительную информацию">
                    </div>
                    <div class="form-group">
                        <label for="addinfo">Примечания</label>
                        <input type="text" class="form-control" ng-model="tempCustomer.Notations" id="addinfo" placeholder="*">
                    </div>
                    <div class="form-group">
                        <label for="dateofBirth">Дата рождения</label>
                        <input type="date" class="form-control" id="dateofBirth" ng-model="tempCustomer.Birthday" placeholder="Введите дату рождения">
                    </div>
                    <div class="form-group">
                        <label for="genderCheck">Мужчина</label>
                        <input type="checkbox" class="checkbox" ng-model="tempCustomer.Gender" value="false" id="genderCheck" />
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="createNewCust()">Добавить</button>
                <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
            </div>
        </div>

    </script>
    <script type="text/ng-template" id="createWorkerModal">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Новый работник
                </h3>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label class="control-label" for="name">Имя</label>
                        <input type="text" class="form-control" id="name" ng-model="tempWorker.Name" placeholder="Введите имя">
                    </div>
                    <div class="form-group">
                        <label for="last name">Фамилия</label>
                        <input type="text" class="form-control" id="last name" ng-model="tempWorker.Surname" placeholder="Введите фамилию">
                    </div>
                    <div class="form-group">
                        <label for="dateofBirth">Дата рождения</label>
                        <div>
                            <input type="date" class="form-control" id="dateofBirth" ng-model="tempWorker.Birthday" placeholder="Введите дату рождения">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="mobilephone"> Контактный телефон</label>
                        <input type="tel" class="form-control" id="mobilephone" ng-model="tempWorker.PhoneNumber" placeholder="Введите номер">
                    </div>
                    <div class="form-group">
                        <label for="additionphone"> Дополнительный номер телефона</label>
                        <input type="tel" class="form-control" id="additionphone" ng-model="tempWorker.AlternatePhone" placeholder="Введите номер">
                    </div>
                    <div class="form-group">
                        <label for="email"> Адрес электронной почты</label>
                        <input type="email" class="form-control" id="email" ng-model="tempWorker.Email" placeholder="Введите адрес электронной почты">
                    </div>
                    <div class="form-group">
                        <label for="skype">Skype</label>
                        <input type="text" class="form-control" id="skype" ng-model="tempWorker.Skype" placeholder="Введите адрес skype">
                    </div>
                    <div class="form-group">
                        <label for="addwayofcommunication"> Страничка в социальной сети</label>
                        <input type="text" class="form-control" id="addwayofcommucation" ng-model="tempWorker.SocialNetwork" placeholder="Введите дополнительную информацию">
                    </div>
                    <div class="form-group">
                        <label for="class">Класс</label>
                        <input type="text" class="form-control" id="class" ng-model="tempWorker.Speciality" placeholder="Выберите соответствующий класс">
                    </div>
                    <div class="form-group">
                        <label for="addinfo">Примечания</label>
                        <input type="text" class="form-control" ng-model="tempWorker.Description" id="addinfo" placeholder="*">
                    </div>
                    <div class="form-group">
                        <label for="genderCheck">Мужчина</label>
                        <input type="checkbox" class="checkbox" ng-model="tempWorker.Gender" value="false" id="genderCheck" />
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="createNewEmpl()">Добавить</button>
                <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="addProductToWh">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    Добавить изделие
                </h3>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label>Модель №:</label>
                        <input type="text" class="form-control" ng-model="ModelNumber" placeholder="#" ng-change="getName()"
                               typeahead="m for m in mNumbers | filter: $viewValue | limitTo: 8" />
                    </div>
                    <div class="form-group">
                        <label>Название:</label>
                        <input type="text" class="form-control" ng-model="Name"/>
                    </div>
                    <div class="form-group">
                        <label>Цвет:</label>
                        <input type="text" class="form-control" ng-model="Color"
                               typeahead="col for col in modelArr[ModelNumber].Colors | filter:$viewValue | limitTo:8" />
                    </div>
                    <div class="form-group">
                        <label>Размер:</label>
                        <input type="number" class="form-control" ng-model="Size"
                               typeahead="s for s in modelArr[ModelNumber].Sizes | filter:$viewValue | limitTo:8" />
                    </div>
                    <div class="form-group">
                        <label>Количество:</label>
                        <input type="number" class="form-control" ng-model="Quantity" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="add()"> Добавить</button>
                <button class="btn btn-default" ng-click="cancel()"> Отмена</button>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="salesReportView">
        <div ng-controller="DatepickerDemoController" ng-show="$parent.isSelected == 'sales'">

            <div class="row navbar-btn">
                <div class="col-lg-8">
                    <div>
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="text-center"> Продажи </h1>
                                <h5 class="text-center">{{minDate | date: "d MMM yyyy"}} - {{maxDate | date: "d MMM yyyy"}}</h5>
                            </div>
                            <div class="modal-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>имя</th>
                                            <th>кол-во</th>
                                            <th>цена</th>
                                            <th>сумма</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="model in salesData.Data">
                                        <tr ng-class="getClass(model.length)" ng-click="model.show = !model.show && model.length != 1">
                                            <th>{{model[0].ModelNumber}}</th>
                                            <th>{{model[0].Name}}</th>
                                            <th>{{getQuantitySum(model)}}</th>
                                            <th>{{getPrice(model)}}</th>
                                            <th>{{getCostSum(model)}}</th>
                                        </tr>
                                        <tr ng-repeat="mByPrice in model" ng-show="model.show" style="background-color:aliceblue">
                                            <td>{{mByPrice.ModelNumber}}</td>
                                            <td>{{mByPrice.Name}}</td>
                                            <td>{{mByPrice.Quantity}}</td>
                                            <td>{{mByPrice.Price + ' грн.'}}</td>
                                            <td>{{mByPrice.Quantity * mByPrice.Price + ' грн.'}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>{{salesData.DataNotations.qSum}}</th>
                                            <th></th>
                                            <th>{{salesData.DataNotations.cSum + ' грн.'}}</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success text-left"><span class="glyphicon glyphicon-print"></span>Печать</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <button class="btn btn-info" ng-click="setToday()">Сегодня</button>
                        <button class="btn btn-info">Эта неделя</button>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success" ng-click="getSalesData()">
                                <span class="glyphicon glyphicon-refresh">
                                </span>
                                Получить данные
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <h3 class="alert alert-info">Создать отчет за какой промежуток времени?</h3>
                        <h5>начальная дата:</h5>
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="EEEE d MMMM yy"
                                   datepicker-options="{ startingDay:1 }" ng-model="selectedMinDate" is-open="openedMin" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openMin()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>

                    </div>
                    <div class="row">
                        <h5>конечная дата:</h5>
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="EEEE d MMMM yy"
                                   datepicker-options="{ startingDay:1 }" ng-model="selectedMaxDate" is-open="openedMax" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openMax()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>

                    </div>
                </div>
            </div>
        </div>

    </script>
</body>
</html>