<div class="col-lg-6">

    <div ng-controller="CustomersController">
        <div ng-show="$parent.isSelected == 'cust'" class="panel-group">
            <div ng-repeat="c in $parent.customersData | filter: searchText">
                <div class="panel panel-info" style="cursor:pointer; margin-bottom:7px"
                     ng-click="c.isCollapsed = !c.isCollapsed">
                    <div class="panel-heading">
                        <table class="table" style="margin-bottom:0">
                            <tr>
                                <td style="border:none">#{{c.CustomerId}}</td>
                                <th style="border:none">{{c.Name + ' \n' + c.Surname}}</th>
                                <td style="border:none">
                                    <h5 style="margin-top:0">{{c.PhoneNumber}}</h5>
                                    <h5 style="margin-bottom:0">{{c.AlternatePhone}}</h5>
                                </td>
                                <td style="border:none">{{c.locationOfTrade}}</td>
                                <td style="border:none">{{c.Speciality}}</td>
                                <td style="border:none">{{c.Balance}}</td>
                            </tr>
                        </table>
                    </div>
                    <div ng-hide="c.isCollapsed" class="panel-body">
                        <table>
                            <tr class="row"><td class="col-lg-4">Фио:</td><td class="col-lg-8">{{getCustomerNameAndSurname(c.CustomerId)}}</td></tr>
                            <tr class="row"><td class="col-lg-4">Телефон:</td><td class="col-lg-8">{{c.PhoneNumber}}</td></tr>
                            <tr class="row"><td class="col-lg-4">Доп. Телефон:</td><td class="col-lg-8">{{c.AlternatePhone}}</td></tr>
                            <tr class="row"><td class="col-lg-4">Последняя покупка:</td><td class="col-lg-8">{{getDate(c.lastPurchase) | date: 'EEEE d MMM y'}}</td></tr>
                            <tr class="row"><td class="col-lg-4">Баланс:</td><td class="col-lg-8">{{c.Balance}}</td></tr>
                            <tr> <td><hr style="margin-bottom:5px;margin-top:5px" /></td></tr>
                            <tr class="row"><td class="col-lg-4">Место работы:</td><td class="col-lg-8">{{c.locationOfTrade}}</td></tr>
                            <tr class="row"><td class="col-lg-4">Тип:</td><td class="col-lg-8">{{c.Speciality}}</td></tr>
                            <tr class="row"><td class="col-lg-4">Доход клиента:</td><td class="col-lg-8">{{c.MoneySpent + ' грн.'}}</td></tr>
                            <tr class="row"><td class="col-lg-4">Уровень:</td><td class="col-lg-8">{{c.Level}}</td></tr>
                            <tr class="row"><td class="col-lg-4">Первая покупка:</td><td class="col-lg-8"> {{getDate(c.FirstMet) | date}}</td></tr>
                            <tr class="row"><td class="col-lg-4">Примечания:</td><td class="col-lg-8">{{c.Notations}}</td></tr>
                            <tr> <td><hr style="margin-bottom:5px;margin-top:5px" /></td></tr>
                            <tr class="row"><td class="col-lg-4">E-mail:</td><td class="col-lg-8"> {{c.Email}}</td></tr>
                            <tr class="row"><td class="col-lg-4">Skype:</td><td class="col-lg-8"> {{c.Skype}}</td></tr>
                            <tr class="row"><td class="col-lg-4">Др. контакт:</td><td class="col-lg-8">{{c.OtherContact}}</td></tr>
                            <tr class="row"><td class="col-lg-4">Проинформирован:</td><td class="col-lg-8">{{c.isInformed}}</td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-controller="OrdersController">
        <div ng-repeat="ordArr in $parent.ordersInfoByDates | filter: searchText" ng-show="$parent.isSelected == 'ord'" 
             class="panel-group" style="margin-bottom:7px">

            <div class="panel panel-primary">
                <div class="panel-heading" ng-click="isVisibleDP = !isVisibleDP">
                    <h4 class="panel-title">
                        <a>{{ordArr[0].ShipmentDateMax | date: 'EEEE d MMM y'}}</a>
                    </h4>
                </div>
                <div ng-show="isVisibleDP">
                    <div class="panel-body">
                        <div ng-repeat="order in ordArr" class="panel-group" style="margin-bottom:0">
                            <div class=" panel" ng-class="order.colorOfReadiness">
                                <div class="panel-heading " ng-click="collapseAndSelect(order)"
                                     style="cursor:pointer; margin-bottom:1px; padding:7.5px">
                                    <div class="panel-title">
                                        <table class="table" style="border:none; margin-bottom:0">
                                            <tr>
                                                <th style="border:none">#{{order.OrderId}}</th>
                                                <td style="border:none">{{order.isDelivered}}</td>
                                                <th style="border:none">{{order.ShipmentDateMin | date: 'HH:mm'}}</th>
                                                <th style="border:none">{{order.ShipmentDateMax | date: 'HH:mm'}}</th>
                                                <td style="border:none">{{order.isPacked}}</td>
                                                <td style="border:none">{{order.isPaid}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div ng-hide="order.isCollapsed" class="animate-table-radio">
                                    <div class="panel-body row">
                                        <table>
                                            <tr class="row"><td class="col-lg-4">Заказчик:</td><td class="col-lg-8">{{getCustomerNameAndSurname(order.CustomerId)}}</td></tr>
                                            <tr class="row"><td class="col-lg-4">Доставки:</td><td class="col-lg-8">{{shippingMethodToString(order.ShippingMethod)}}</td></trclass>
                                            <tr class="row"><td class="col-lg-4">Откуда:</td><td class="col-lg-8">{{order.ShipFrom}}</td></tr>
                                            <tr class="row"><td class="col-lg-4">Куда:</td><td class="col-lg-8">{{order.ShipAddress}}</td></tr>
                                            <tr> <td><hr style="margin-bottom:5px;margin-top:5px" /></td></tr>
                                            <tr class="row"><td class="col-lg-4">Способ оплаты:</td><td class="col-lg-8">{{order.PaymentMethod}}</td></tr>
                                            <tr class="row"><td class="col-lg-4">Код конверта:</td><td class="col-lg-8">{{order.OrderRecievingCode + ''}}</td></tr>
                                            <tr class="row"><td class="col-lg-4">Описание:</td><td class="col-lg-8">{{order.OrderNotation}}</td></tr>
                                            <tr> <td><hr style="margin-bottom:5px;margin-top:5px" /></td></tr>
                                            <tr class="row"><td class="col-lg-4">Стоимость:</td><td class="col-lg-8"> {{order.OrderCost + ' грн.'}}</td></tr>
                                            <tr class="row"><td class="col-lg-4">Уже оплачено:</td><td class="col-lg-8"> {{order.Paid + ' грн.'}}</td></tr>
                                            <tr class="row"><td class="col-lg-4">Баланс:</td><td class="col-lg-8">{{getCustomerBalance(order.CustomerId) + ' грн.'}}</td></tr>
                                            <tr class="row"><td class="col-lg-4">Скидка:</td><td class="col-lg-8">{{order.OrderDiscount + ' грн.'}}</td></tr>
                                            <tr class="row"><td class="col-lg-4">К оплате:</td><td class="col-lg-8">{{getPaymentAmount(order) + ' грн.'}}</td></tr>
                                        </table>
                                    </div>
                                    <div class="panel-footer">
                                        <table class="table" style="border:none; margin-bottom:0">
                                            <tr>
                                                <td style="border:none">
                                                    <button class="btn btn-warning btn-sm" ng-click="setOrderDelivered(order)">Отнесли</button>
                                                </td>
                                                <td class="input-group" style="border:none">
                                                    <input type="number" value="0" ng-model="order.Paid" class="form-control input-sm" />
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-warning btn-sm" ng-click="setOrderIsPaid(order)">Оплачено</button>
                                                    </span>
                                                </td>
                                                <td style="border:none">
                                                    <button class="btn btn-warning btn-sm" ng-click="setOrderPacked(order)">Упаковано</button>
                                                </td>
                                                <td style="border:none" nowrap>
                                                    <div dropdown class="input-group-btn">
                                                        <button id="split-button{{$index}}" type="button" class="btn btn-success btn-sm" ng-click="setOrderResolved(order)">Готово</button>
                                                        <button type="button" class="btn btn-success btn-sm" dropdown-toggle>
                                                            <span class="caret"></span>
                                                            <span class="sr-only">Split button!</span>
                                                        </button>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="split-button{{$index}}">
                                                            <li role="menuitem"><a href="#">Редактировать</a></li>
                                                            <li role="menuitem"><a href="#">Перенести заказ</a></li>
                                                            <li class="divider"></li>
                                                            <li role="menuitem"><a href="#">Отменить заказ</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <table ng-repeat="modelArr in leftTableView.Data | filter: searchText" ng-show="isSelected != 'ord'" class="table animate-table-table">
            <tr>
                <th class="btn btn-primary btn-header">{{modelArr[0][0].ModelNumber}}</th>
                <th class="btn btn-primary btn-tableData"
                    ng-repeat="size in warehouseData.DataNotations[modelArr[0][0].ModelNumber].Sizes">
                    {{size}}
                </th>
            </tr>
            <tr ng-repeat="modelArrByColors in modelArr">
                <td class="btn btn-primary btn-header">
                    {{modelArrByColors[0].Color}}
                </td>

                <td ng-click="selectProductToOrder(product, modelArrByColors)"
                    ng-repeat="product in modelArrByColors"
                    class="btn btn-default btn-tableData">
                    {{product.Quantity}}
                </td>
            </tr>
        </table>
    </div>
</div>
