@model SandBox.Models.ItemVM

@{
    ViewBag.Title = "Main page";
}
<div class="panel-heading">

</div>

<div class="panel-body navbar-top">
    <div class="btn-group-lg text-center">
        @Html.ActionLink("Orderlist", "Index", "Order", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Warehouse", "Index", "OnStock",
    new { @area = "Warehouse" }, new { @class = "btn btn-default" })
        @Html.ActionLink("Store", "Index", "OnStock",
        new { @area = "Store" }, new { @class = "btn btn-default" })
    </div>
</div>
